html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold !important;
    background-color: #fafafa;
}
.navbar{
    background: #121720;
    font-weight: lighter;
    font-family: "Lucida Console", Monaco, monospace;
}
.brandW{
    filter:invert(100%);
}

a {
    color: rgb(16, 185, 53);
}
a:hover {
    color: rgb(13, 173, 61) ;
}

.nav-pills > .active >.nav-link, .nav-pills > .active > .nav-link:hover {
    background-color: red !important;
}

#sticky-footer {
    flex-shrink: none;
    background: #121720;
  }