html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-weight: bold !important;
    background-color: #fafafa;
}
.navbar{
    background: #121720;
    font-weight: lighter;
}
.brandW{
    filter:invert(100%);
}

a {
    color: #007bff;
}
a:hover {
    color: #007bff ;
}

h6 {
    padding: 1.5rem;
}

.nav-pills > .active >.nav-link, .nav-pills > .active > .nav-link:hover {
    background-color: red !important;
}

#sticky-footer {
    flex-shrink: none;
    background: #fdfdfd;
  }